<div class="row">
  <div class="col bg-dark" style="height:max-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum velit excepturi odio consequatur quidem ab, et quae autem quia animi nobis, alias iusto sapiente modi perspiciatis sed reprehenderit voluptatibus voluptates.lorem400</div>
  <div class="col">col 2</div>
  <div class="col">col 2</div>

</div>
