<div nz-row>
  <div nz-col nzXs="24" nzSm="4" nzMd="6" nzLg="8" nzXl="24">
    Col
  </div>
  <div nz-col nzXs="24" nzSm="16" nzMd="12" nzLg="8" nzXl="24">
    Col
  </div>
  <div nz-col nzXs="24" nzSm="4" nzMd="6" nzLg="8" nzXl="24">
    Col
  </div>
</div>