<nz-layout class="app-layout">
  <div *ngIf="!isCollapsed"></div>

  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="223px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div>
      <span class="wosh">
        <img class="logo" src="assets/logo.png" alt="" srcset="" />
      </span>
      <em nz-icon>
        <em
          nz-icon
          (click)="isCollapsed = !isCollapsed"
          class="close-menu"
          nzType="close"
          nzTheme="outline"
        ></em>
      </em>
    </div>

    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li
        (click)="setName('Dashboard')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/dashboard']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/2/qr1.png" alt="" />
        </em>
        <span>{{ "Dashboard" | translate }} </span>
      </li>
      <li
        (click)="setName('Create Order')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/order-management']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/Cloth/plus.png" alt="" />
        </em>

        <span>{{ "Create Order" | translate }} </span>
      </li>

      <li
        (click)="setName('Customer Management')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/customer-management']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/user.png" alt="" />
        </em>
        <span>{{ "Client Management" | translate }} </span>
      </li>

      <li
        (click)="setName('Priority')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/priority']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/priority.png" alt="" />
        </em>

        <span>Priority</span>
      </li>
      <li
        (click)="setName('Stop & Go')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/step-go']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/edit.png" alt="" />
        </em>

        <span>Stop & Go </span>
      </li>
      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/today-maintanance']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/crm.png" alt="" />
        </em>

        <span>CRM</span>
      </li>
      <li
        (click)="setName('Report')"
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [routerLink]="['/admin-layout/today-revenue']"
        routerLinkActive="router-link-active"
      >
        <em nz-icon>
          <img class="icons" src="assets/marketing.png" alt="" />
        </em>

        <span>Report </span>
      </li>
    </ul>

    <div class="logout" (click)="logout()">Sign Out</div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="flex0" (click)="isCollapsed = !isCollapsed">
          <em
            class="header-trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></em>
        </span>
        <span
          class="flex2"
          style="
            color: #062133;
            margin-left: 5px;
            font-size: 22px;
            font-weight: 700;
            font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
            letter-spacing: 0.28px;
            line-height: 83px;
            text-align: left;
          "
          >{{ name }}</span
        >

        <span class="flex1" *ngIf="!devixceXs && name == 'Create Order'">
          <nz-select
            class="service-type"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Service Type"
            [(ngModel)]="selectedValue"
          >
            <nz-option nzLabel="Washing" nzValue="jack"></nz-option>
            <nz-option nzLabel="Ironing" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tailoring" nzValue="tom"></nz-option>
            <nz-option nzLabel="Tailoring + Ironing" nzValue="tom"></nz-option>
            <nz-option nzLabel="Tailoring + Washing" nzValue="tom"></nz-option>
            <nz-option nzLabel="Custom" nzValue="tom"></nz-option>
          </nz-select>
        </span>

        <span
          class="header-icon flex1"
          *ngIf="!devixceXs && name == 'Dashboard'"
        >
          <em
            class="fas fa-plus-circle"
            style="float: inline-start; margin-left: 18px"
          ></em>
          <a style="margin-left: 32px !important">Add User</a>
        </span>
        <span
          class="header-icon flex1"
          *ngIf="devixceXs && name == 'Dashboard'"
        >
          <em
            class="fas fa-plus-circle"
            style="margin-left: 10px !important"
          ></em>
          <a style="margin-left: 10px !important">Add User</a>
        </span>
        <span class="flex1" *ngIf="devixceXs && name == 'Create Order'">
          <em
            class="fas fa-plus-circle"
            style="margin-left: 10px !important"
          ></em>
          <span style="margin-left: 10px !important">Service Type</span>
        </span>
        <span class="header-icon flex1" *ngIf="!devixceXs">
          <img src="assets/2/qr1.png" class="qr" alt="" />
          <a style="margin-left: 32px">QR Code Scan</a>
        </span>
        <span class="searchbar flex2" *ngIf="!devixceXs">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search by Customer Name"
              style="
                font-family: Roboto-Regular;
                font-size: 12px;
                text-align: center;
                padding: 19px;
                border-right: none;
                color: rgba(6, 33, 51, 0.3);
              "
            />
            <div class="input-group-append">
              <button style="border-radius: 2px;" class="btn btn-primary" type="button">Search</button>
            </div>
          </div>
        </span>
        <span class="flex0" style="display: none">
          <nz-select
            nzShow
            nzAllowClear
            nzPlaceHolder="Select a language"
            #selectedLang
            (nzOpenChange)="switchLang(selectedLang.value)"
          >
            <nz-option
              *ngFor="let language of translate.getLangs()"
              [nzLabel]="language"
              [nzValue]="language"
            ></nz-option>
          </nz-select>
        </span>
      </div>
    </nz-header>
    <nz-header
      style="background-color: #ffffff"
      *ngIf="devixceXs"
      fxLayout="row"
    >
      <div fxLayoutAlign="space-between center">
        <div class="header-icon">
          <img src="assets/2/qr1.png" class="qr" alt="" />
          <a style="margin-left: 10px !important">QR Code Scan</a>
        </div>
        <div class="searchbar-mobi">
          <div class="input-group">
            <input
              style="
                font-family: Roboto-Regular;
                font-size: 12px;
                text-align: center;
                padding: 19px;
                border-right: none;
                color: rgba(6, 33, 51, 0.3);
              "
              type="text"
              class="form-control"
              placeholder="Search by Customer Name"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
            </div>
          </div>
        </div>
        <div style="display: none">
          <nz-select
            nzShow
            nzAllowClear
            nzPlaceHolder="Select a language"
            #selectedLang
            (nzOpenChange)="switchLang(selectedLang?.value)"
          >
            <nz-option
              *ngFor="let language of translate.getLangs()"
              [nzLabel]="language"
              [nzValue]="language"
            ></nz-option>
          </nz-select>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
