:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background: linear-gradient(135deg, #00B4FF 0%, #008FCB 100%);
}

.ant-menu{
  background: transparent;
}
.wosh{
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;

}


.header-trigger {
  height: 64px;
  line-height: 64px;
margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #f5426f;
}

.sidebar-logo {
  position: relative;
  height: 64px;
margin-top: 20px !important;
  line-height: 64px;

  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  vertical-align: middle;
}


nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
display: flex;
flex-direction: row;
height: 83px;
line-height: 83px !important;
  background-color: #FFFFFF;

}

nz-content {
  margin: 24px !important;
}

[faicon] {
  min-width: 14px;
  margin-right: 10px;
  font-size: 14px;
  transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (max-width: 768px) {
  .ant-layout-sider-collapsed {
    display: none !important;
  }

  nz-layout {
    position: absolute;
    width: 100vw !important;
    overflow: scroll;
  }

}

.ant-menu-root.ant-menu-inline, .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right {
  box-shadow: none;
  background: linear-gradient(135deg, #00B4FF 0%, #008FCB 100%);
  color: white;
}

.logo{

  height: 44px;
  width: 124px;
margin-top: 20px;

}


.logout{
margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #0C588A;
margin-left: 20px;
margin-right: 20px;
height: 50px;
color: #FFFFFF;
}

.flex1{
  flex: 1;
  cursor: pointer;

  }


.flex2{
flex: 2;
cursor: pointer;

}

.flex3{
flex: 3;


}
.flex4{
  flex: 4;
}



.ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  cursor: text;
  width: 163px;
  line-height: 39px !important;
  height: 39px !important;
  border: 1px solid #27AAE1 !important;
  border-radius: 26.5px !important;
  background-color: #FFFFFF !important;
}



.order-three{
flex: 2;
text-align: center;
width: 200px;
height: 39px;
line-height: 39px;
border-radius: 25px;
border: 1px solid #006CFF;
background-color: #006CFF;
color:white;
margin-top: 15px;
}

.flex5{
flex: 5;
}

.header-icon{
  display: inline;
  height: 39px;
  line-height: 39px;
  width: 163px;
  border-radius: 26.5px;
  background-color: #27AAE1;
color: #fff;

margin-top: 22px !important;
margin-right: 15px !important;
}

.searchbar{
  box-sizing: border-box;
  height: 39px !important;
  line-height: 39px !important;
  width: 349px;

  background-color: #FFFFFF;
  margin-top: 22px !important;
  margin-right: 10px !important;
 }
 button.btn.btn-primary {
  border: 1px solid #27AAE1;
  border-radius: 0px 25px 25px 0 !important;
  padding-right: 30px;
  text-align: center !important;
}
input.form-control {
  border: 1px solid #27AAE1;
  border-radius: 25px;
  color: rgba(6,33,51,0.3);
}

.btn-primary {
  color: #fff;

  background-color: #27AAE1 !important;
  border-color: #27AAE1 !important;
}

 .ant-input-search-enter-button input+.ant-input-group-addon .ant-input-search-button, .ant-input-search-enter-button+.ant-input-group-addon .ant-input-search-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 20px !important;

  border-top-right-radius: 20px !important;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child), .ant-input-group-addon:first-child, .ant-input-group-addon:first-child .ant-select .ant-select-selector, .ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input, .ant-input-group>.ant-input:first-child, .ant-input-group>.ant-input:first-child .ant-select .ant-select-selector {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}


a.search-text {
    float: right;

    background-color: #0067FF;
    padding-left: 30px;
    height: 39px !important;
    line-height: 39px !important;
    width: 100px !important;
    text-align: center;
    padding-right: 36px !important;
    color: white;
    border: 1px solid #006CFF;
    border-radius: 26.5px 26.5px 26.5px 26.5px !important;

}


@media only  screen and (max-width:600px){
  .searchbar{

    height: 25px !important;
    line-height: 25px !important;
    width: 280px;

    background-color: #FFFFFF;
    margin-top: 22px !important;
    margin-right: 10px !important;
   }

   .header-icon{
    display: inline;
    height: 25px;
    line-height: 25px;
    width: 100px;
    border-radius: 26.5px;
    background: linear-gradient(135deg, #00B4FF 0%, #008FCB 100%);
  color: #fff;

  margin-top: 22px !important;
  margin-right: 15px !important;
  }


}
.qr{
  height: 14px;
  width: 14px;

  float: inline-start; margin-left: 18px
}
