


.left{
  height: 768px;
  width: 607px;

  border-radius: 0 10px 10px 0;
  background-color: #27AAE1;
}

.wosh {
  height: 74px;
  width: 197px;
  color: #FFFFFF;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 62px;
  font-weight: 900;
  letter-spacing: 0.79px;
  line-height: 82px;

  padding: 85px 0 0 64px;
}

.lorem{

  color: #FFFFFF;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 12px;
  letter-spacing: 0.15px;
  line-height: 16px;

  padding-top: 79px !important;
  padding-left: 63px !important;
}

.right{
  height: 786px;
  width: 785px;
  opacity: 0.6;
}


.login{
  height: 454px;
  width: 395px;
  margin:145px 202px 187px 188px ;

}

.logo{
  height: 75px;
  width: 184px;
  margin: 0 106px 73px 111px;
  text-align: center;
}


ul>li{
  display: inline;
  list-style-type: none;
}
