
<div class="col-lg-12 container-fluid p-0">
<div class="row">
  <div class="col-lg-6">
<div class="left">
<div class="wosh">WOSH</div>
<div class="lorem">Lorem Ipsum is simply dummy text of the printing</div>
</div>

  </div>
  <div class="col-lg-6">
  <div class="right">
    <div class="login">
<div class="logo">
  <img src="assets/logo.png" style="height: 75px;
  width: 184px;" alt="logo">
  </div>
<div style="padding-bottom:40px;">
  <input style=" box-sizing: border-box;
  height: 47px;
  cursor: pointer;
  width: 395px;
  border: 1px solid rgba(0,55,89,0.25);
  border-radius: 5px;
  background-color: #FFFFFF;" type="text" nz-input placeholder="User Name" [(ngModel)]="value" />
</div>
<div>
  <input style=" box-sizing: border-box;
  height: 47px;
  cursor: pointer;
  width: 395px;
  border: 1px solid rgba(0,55,89,0.25);
  border-radius: 5px;
  background-color: #FFFFFF;" type="password" nz-input placeholder="Password" [(ngModel)]="value" />
</div>
<div style="padding:46px 0 0 0">

<ul  style="display: inline;">
  <li (click)="forgot()" style="float: left;  height: 16px;
  width: 100px;
  cursor:pointer;
    color: #27AAE1;
    font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 16px;
  padding-top: 15px;

  text-align: center;">Forgot Password</li>
  <li style="float: right;
  height: 47px;
  width: 198px;
  border-radius: 23.5px;
  background-color: #27AAE1;
  box-shadow: 0 2px 2px 0 rgba(6,33,51,0.14);"
  (click)="login()"
  >

<span style="
color: #FFFFFF;
font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
font-size: 12px;
font-weight: 500;
letter-spacing: 0.15px;
line-height: 47px;
text-align: center;padding:30px 0 0 80px;">Sign In
<span style="height: 8px;
width: 23px;
padding-left: 40px;"></span>
<em class="fas fa-arrow-right"></em></span></li>

</ul>

</div>
<div style="margin-top: 70px;">
  <hr style=" height: 1px;
width: 395px;
background-color: rgba(0,103,255,0.18);">
</div>

<div style="padding-top:21px ;"></div>
<ul  style="display: inline;">
  <li style="float: left;  height: 16px;

  color: #062133;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15px;
  line-height: 16px;
  padding-top: 15px;
text-align: center;
  ">Don’t have an account?</li>
  <li (click)="signUp()"  style="float: right;
  height: 47px;
  width: 198px;
  border: 1px solid #0067FF;
  border-radius: 23.5px;
  background-color: #FFFFFF;">

<span  style="
  color: #062133;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
font-size: 12px;
font-weight: 500;
letter-spacing: 0.15px;
line-height: 47px;

text-align: center;padding:30px 0 0 80px;">Sign Up
<span style="height: 8px;
width: 23px;
color: #0067FF;
padding-left: 40px;"></span>
<em style="color: #0067FF;" class="fas fa-arrow-right"></em></span></li>

</ul>
    </div>
  </div>
  </div>
</div>
</div>

