 <ngx-spinner bdColor = "rgba(109,104,103,0.8)" size = "medium" color = "#4b30c9" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>



<router-outlet></router-outlet>



