<div class="col-lg-12 col-md-12 col-12  pt-2">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 pb-3 col-6">
              <div (click)="openOrderForm()" style="
                  box-sizing: border-box;
                  height: 39px;
                  width: 163px;
                  border: 1px solid #27aae1;
                  border-radius: 26.5px;
                  background-color: #27aae1;
                ">
                <em class="fas fa-plus-circle" style="float: inline-start; padding-left: 20px; color: white"></em>

                <a class="addnew" style="color: white; padding-left: 10px">
                  Add New Items
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 pb-3 col-6">
              <div style="
                  box-sizing: border-box;
                  height: 39px;
                  width: 163px;
                  border: 1px solid #27aae1;
                  border-radius: 26.5px;
                  background-color: #ffffff;
                ">
                <em class="fas fa-edit" style="
                    color: #27aae1;
                    float: inline-start;
                    padding-left: 20px;
                  "></em>

                <a class="addnew" style="color: #27aae1; padding-left: 20px">
                  Edit Items
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 pb-3 col-6"></div>
            <div class="col-lg-3 col-md-3 pb-3 col-6"></div>
            <div class="row" *ngFor="let row of myData">
              <div class="col-lg-3 col-md-6 col-6 mb-3 ml-2">
                <div class="cards" style="cursor: pointer">
                  <p class="cardheader">{{row.name}}</p>

                  <img src="{{row.src}}" class="img1" alt="shirt" />

                  <p class="cardfooter">{{row.price}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-12">
      <div class="right-div">
        <div class="r-header">
          <span class="r-title">Date of delivery</span>
          <span class="r-date" style="padding: 7px 30px 7px 5px">
            12/2/2019
          </span>
        </div>
        <div class="list">
          <ul>
            <li *ngFor="let data of checkout">
              <div style="
                  height: 19px;
                  width: 43px;
                  color: #2b3941;
font-family:roboto-regular;
                  font-size: 14px;

                  letter-spacing: 0.18px;
                  line-height: 19px;
                ">
                {{ data.name }}
              </div>
              <div style="
                  box-sizing: border-box;
                  height: 19.12px;
                  line-height: 19.12px;
                  width: 18px;
                  border: 0.83px solid #27aae1;
                  border-radius: 1px;
                  margin-left: 20px;
                  cursor: pointer;
                ">
                <span style="
                    height: 19px;
                    width: 14px;
                    color: #062133;
                    font-family: 'Helvetica', Arial, Verdana, Tahoma, sans-serif;
                    font-size: 9.97px;
                    letter-spacing: 0;
                    line-height: 19px;
                    margin: 0 0 7px 5px;
                  ">
                  +
                </span>
              </div>
              <div style="
                  box-sizing: border-box;
                  height: 19.12px;
                  width: 18px;
                  border: 0.83px solid #27aae1;
                  border-radius: 1px;
                  line-height: 19.12px;
                ">
                <span style="
                    height: 19px;
                    width: 14px;
                    color: #062133;
                    font-family: 'Helvetica', Arial, Verdana, Tahoma, sans-serif;
                    font-size: 9.97px;
                    letter-spacing: 0;
                    line-height: 19px;
                    margin: 0 0 7px 5px;
                  ">
                  1
                </span>
              </div>
              <div style="
                  box-sizing: border-box;
                  height: 19.12px;
                  width: 18px;
                  border: 0.83px solid #27aae1;
                  border-radius: 1px;
                  cursor: pointer;
                  line-height: 19.12px;
                ">
                <span style="
                    height: 19px;
                    width: 14px;
                    color: #062133;
                    font-family: 'Helvetica', Arial, Verdana, Tahoma, sans-serif;
                    font-size: 9.97px;
                    letter-spacing: 0;
                    line-height: 19px;
                    margin: 0 0 7px 5px;
                  ">
                  -
                </span>
              </div>
              <div style="
                  height: 19px;
                  width: 19px;
                  background-color: #ff9a01;
                  margin-left: 30px;
                "></div>
              <div style="
                  height: 19px;
                  width: 19px;
                  color: #2b3941;
                  transform: rotate(180deg);
                  border: 1px solid #27aae1;
                  cursor: pointer;
                  background-color: white;
                  padding-left: 5px;
                ">
                ^
              </div>
              <div style="margin-left: 20px">
                <em style="font-size: 1.5em; cursor: pointer" class="fas fa-exclamation-circle"></em>
              </div>
              <div style="margin-left: 20px">{{data.price}}</div>
            </li>
          </ul>
        </div>
        <div class="total" style="margin-top: 109px !important">
          <div class="sub">
            Sub Total(6 items)<span class="rightvalue">$20 </span>
          </div>

          <div class="tax">
            Tax

            <span class="rightvalue1">$1 </span>
          </div>
        </div>
        <div class="charge" style="margin-top: 20px">
          <div style="
              height: 48px;
              color: #ffffff;
              cursor: pointer;

              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.18px;
              line-height: 48px;
              margin-left: 20px;
            ">
            Charge
            <span style="
                height: 48px;
                color: #ffffff;

                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.18px;
                line-height: 48px;
                margin-left: 186px;
              ">
              $21.0
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-12">

    <div class="col-lg-12 col-md-12 col-12">
      <div class="row" *ngFor="let row of myData">
    <div class="col-lg-2 col-md-3 col-6  mb-3 ml-2">

        <div class="cards">
          <p class="cardheader">{{row.name}}</p>

          <img src="{{row.src}}" class="img1" alt="shirt" />

          <p class="cardfooter">{{row.price}}</p>
        </div>
      </div>
    </div>
      </div>
    </div>







<div class="modal " tabindex="-1" data-backdrop="false" role="dialog" id="orderForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <div style="margin: 35px 58px 32px 56px;">

            <div class="col-lg-12 col-12">

              <div class="row">
                <div class="col-lg-12" style="padding-bottom: 22px;">
                  <div style="height: 24px;
              width: 117px;
              color: #062133;
              font-family: Roboto;
              font-size: 18px;
              font-weight: 500;
              letter-spacing: 0.23px;
              line-height: 24px;">Add New Item</div>
                </div>
                <div class="col-lg-6">
                  <div>Item Name</div>
                </div>
                <div class="col-lg-6">
                  <input style=" box-sizing: border-box;
              height: 37px;
              width: 200px;
              border: 1px solid rgba(99,119,131,0.31);
              border-radius: 5px;
              background-color: #FFFFFF;" [(ngModel)]="name" nz-input placeholder="large size" />
                </div>
                <div class="col-lg-12" style="padding-top:36px">
                  <table class="col-lg-12" style="width: 100%;">
                    <tr>
                      <td></td>
                      <td>Default Price ($)</td>
                      <td>Default Time (Day)</td>
                    </tr>

                    <tr>

                      <td style="padding-right:26px !important">Washing</td>
                      <td> <input style=" box-sizing: border-box;
                  height: 29px;
                  width: 105px;
                  border: 1px solid #D8E2E6;
                  opacity: 0.49;
                  border-radius: 5px;
                  background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                      <td>
                        <input style=" box-sizing: border-box;
                  height: 29px;
                  width: 105px;
                  border: 1px solid #D8E2E6;
                  opacity: 0.49;
                  border-radius: 5px;
                  background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" />
                      </td>

                    </tr>
                    <tr>
                      <td>Tailoring</td>
                      <td> <input style=" box-sizing: border-box;
                    height: 29px;
                    width: 105px;
                    border: 1px solid #D8E2E6;
                    opacity: 0.49;
                    border-radius: 5px;
                    background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                      <td> <input style=" box-sizing: border-box;
                    height: 29px;
                    width: 105px;
                    border: 1px solid #D8E2E6;
                    opacity: 0.49;
                    border-radius: 5px;
                    background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                    </tr>
                    <tr>
                      <td>Tailoring + Ironing</td>
                      <td> <input style=" box-sizing: border-box;
                      height: 29px;
                      width: 105px;
                      border: 1px solid #D8E2E6;
                      opacity: 0.49;
                      border-radius: 5px;
                      background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                      <td> <input style=" box-sizing: border-box;
                      height: 29px;
                      width: 105px;
                      border: 1px solid #D8E2E6;
                      opacity: 0.49;
                      border-radius: 5px;
                      background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                    </tr>
                    <tr>
                      <td>Tailoring + Washing</td>
                      <td> <input style=" box-sizing: border-box;
                        height: 29px;
                        width: 105px;
                        border: 1px solid #D8E2E6;
                        opacity: 0.49;
                        border-radius: 5px;
                        background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                      <td> <input style=" box-sizing: border-box;
                        height: 29px;
                        width: 105px;
                        border: 1px solid #D8E2E6;
                        opacity: 0.49;
                        border-radius: 5px;
                        background-color: #EDF2F4;" [(ngModel)]="name" nz-input placeholder="large size" /></td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button nz-button (click)="closeModal()" nzType="primary">
          Cancel
        </button>
        <button nz-button (click)="add()" nzType="primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
