


.cards{
  height: 182px;
  width: 163px;
  border-radius: 5px;
padding: 20px 50px;
background-color: #FFFFFF;
box-shadow: 0 2px 5px 0 rgba(101,132,160,0.47);
cursor: pointer
}

.b{
border: 1px solid blue;
}

.img1{
  height: 75px;
  width: 64px;

}

.cardheader{
  height: 19px;
  width: 44px;
  color: #062133;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 19px;
  padding: 0 0 0 3px ;
  white-space: nowrap;
  text-align:center
}

.cardfooter{
  height: 19px;
   width: 37px;
   color: #062133;
   font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.18px;
   line-height: 19px;padding: 20px 0 0 10px ;
}
.addnew{
  height: 39px;
  width: 98px;
  color: #FFFFFF;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 39px;
  text-align: center;
}

.edititem{
  height: 39px;
  width: 98px;
  color:#27AAE1;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 39px;
  text-align: center;
}


.right-div{
  display: block;
  height: 625px;
  width: 349px;
  background-color: #FFFFFF;

}


.r-header{
  display: inline-block;
  flex-direction: row;
  justify-items: center;
  height: 34px;
  width: 294px;
padding-top: 50px;
padding-left: 28px;

}


.r-title{
  height: 17px;
  width: 101px;
  color: #2B3941;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 19px;
}
.r-date{
  box-sizing: border-box;
  height: 34px;
  width: 151px;
  border: 1px solid rgba(0,103,255,0.21);
  border-radius: 5px;
  margin-left: 50px;
  color: #2B3941;
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.18px;
  line-height: 34px;
}


.calc{
  height: 76px;
  width: 349px;
  background-color: rgba(0,103,255,0.05);
}

ul>li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}


.list{
  width: 294px;
  margin: 50px auto;
}


.total{
  height: 76px;
  width: 349px;
  background-color: rgba(0,103,255,0.05);

}

.rightvalue1{
  margin-left: 214px !important;
}
.rightvalue{
  margin-left: 125px !important;
}

.charge{
margin-left: 30px;
  height: 48px;
  width: 314px;

  border-radius: 5px;
  background-color: #27AAE1;
  box-shadow: 0 2px 5px 0 rgba(101,132,160,0.47);

}


.sub{
  margin-left: 43px; font-family: roboto-regular;
          font-size: 14px;color: #2B3941;
}

.tax{
  margin-left: 43px; padding-top: 15px; font-family: roboto-regular;
          font-size: 14px;color: #2B3941;
}

