// @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


@font-face {
  font-family: Roboto-Medium;
  src: url(assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(assets/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf);
}

body {
  font-family: Roboto-Regular !important;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.inner-content {
  padding: 5px !important;
  background: #fff;
  height: auto;
  border-radius: 8px;
}
.flex {
  display: flex;
}


.jc-sb {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.router-link-active {
  color:white  !important;
  font-size: 16px;
 // border-right: 4px solid #1890ff !important;
 background-color: #0C588A

 ;
}



.ant-breadcrumb-link:focus {
  outline: none;
  cursor: pointer;
}
nz-breadcrumb-item:focus {
  outline: none;
  cursor: pointer;
}

li.ant-menu-item:focus {
  outline: none;
  border: none;
}
.ant-table-thead {
  .ant-table-cell {
    background: #c7c7c7;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
}

.ant-table-thead > tr > th {
  padding: 10px 10px;
}

.mpad5 {
  cursor: pointer;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.form-group {
  label {
    font-weight: bold;
    color: #000000;
  }
}

.banner {

  margin: 0 auto;
  background: transparent;
  height: 90vh;
  box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vh;
}

.login-container,
.signin-container {
  border: 1px solid var(--primary-color-semi-lite);
  background: white;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 10px 35px;
  box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.login-container {
  overflow: hidden;
}

.logo-area {
  text-align: center;
}

.right-profile {
  float: right;
  margin-right: 25px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.form-control-date {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
//header

.ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  cursor: text;
  width: 163px;
  line-height: 39px !important;
  height: 39px !important;
  border: 1px solid #27AAE1 !important;
  border-radius: 26.5px !important;
  background-color: #FFFFFF !important;
}



// sidebar
li.ant-menu-item.router-link-active.ant-menu-item-selected {
  background-color: #0C588A !important;
  margin-right: 0 !important;

}

li.ant-menu-item {
  border-bottom: 1px solid rgba(255,255,255,0.18) !important ;
}


.ant-menu-inline>.ant-menu-item, .ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-vertical-left>.ant-menu-item, .ant-menu-vertical-left>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-vertical-right>.ant-menu-item, .ant-menu-vertical-right>.ant-menu-submenu>.ant-menu-submenu-title, .ant-menu-vertical>.ant-menu-item, .ant-menu-vertical>.ant-menu-submenu>.ant-menu-submenu-title {
  height: 52px !important;
  line-height: 52px !important;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-item, .ant-menu-vertical-right .ant-menu-submenu-title {
  height: 40px;
margin-top: 0 !important;
  padding: 0 16px;
  overflow: hidden;
  font-size: 14px;

  text-overflow: ellipsis;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left, .ant-table.ant-table-bordered .ant-table-cell-fix-right-first::after, .ant-table.ant-table-bordered tbody>tr>td, .ant-table.ant-table-bordered tfoot>tr>td, .ant-table.ant-table-bordered tfoot>tr>th, .ant-table.ant-table-bordered thead>tr>th {
   border-right: 1px solid #00B4FF !important;
}
.menu-sidebar.ant-layout-sider.ant-layout-sider-dark {

  border-radius: 0 20px 20px 0 !important;
}


.close-menu {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  nz-content {
    margin: 5px !important;
  }
}
@media only screen and (max-width: 768px) {
  .sideoverlay {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 768px) {
  .mscroll {
    overflow: scroll;
  }
  .menu-sidebar .ant-layout-sider-collapsed {
    flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    width: 0px !important;
  }

  .close-menu {
    display: inline !important;
    color: white;
    float: right !important;

    font-weight: bold;
    font-size: 23px;
  }
}

.menu-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}



.title-name {
  padding-bottom: 2px;
  text-align: left;
  font-weight: 800;
  color: black;

  padding: 5px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  position: relative;
  padding: 10px 10px;
  overflow-wrap: break-word;
}

a:not([href]):not([tabindex]) {

  text-decoration: none;
}
.ant-layout-header {
  height: 40px;
  padding: 0 50px;
  color: white;
  line-height: 64px;
  background: #34eb7a;
}
.upperCase {
  text-transform: uppercase;
}


.ant-input-search-enter-button input+.ant-input-group-addon .ant-input-search-button, .ant-input-search-enter-button+.ant-input-group-addon .ant-input-search-button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 20px !important;

  border-top-right-radius: 20px !important;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child), .ant-input-group-addon:first-child, .ant-input-group-addon:first-child .ant-select .ant-select-selector, .ant-input-group>.ant-input-affix-wrapper:not(:last-child) .ant-input, .ant-input-group>.ant-input:first-child, .ant-input-group>.ant-input:first-child .ant-select .ant-select-selector {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}



.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  position: relative !important;
    background-color: #fff !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 25px !important;
    transition: all .3s cubic-bezier(.645,.045,.355,1) !important;

    height: 34px !important;
    line-height: 34px !important;
    padding: 0 11px !important;
  }

.ng-tns-c157-1.ng-tns-c156-2.ant-select-selector {
    height: 34px !important;
    width: 158px !important;
}




button.fc-prev-button.fc-button.fc-button-primary {
  background-color: white !important;
  border: none !important;
  color: gray !important;
}
button.fc-next-button.fc-button.fc-button-primary {
  background-color: white !important;
  color: gray !important;
  border: none !important;
}
.ng-tns-c135-3.ng-tns-c134-4.ant-select-selector {
  border-radius: 0px !important;
  width: max-content !important;
}




.fc .fc-toolbar-title {
  font-size: 14px !important;
  margin: 0 !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  color: #2C3135 !important;
  /* font-family: Roboto; */

}

a.fc-col-header-cell-cushion {
  color: gray;
}
a.fc-daygrid-day-number {
  color: gray;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
   min-height: 0 !important;

  position: relative !important;

}
.fc .fc-daygrid-day-number {
  padding: 0 !important;
  position: relative;
  z-index: 4;
}


.modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  border-radius: 5px;

  box-shadow: 0 2px 14px 0 rgba(6,33,51,0.41)
}
.modal-content{
  height: 519px !important;
  width: 495px !important;
}

.card-img{
  float: left !important;padding-left: 25px !important;
}


.ant-tooltip-inner{
  background: transparent !important;
}

