img.card-img{
  float: left !important;
  padding-left: 25px !important;
}

.div1{
  padding: 0 15px 0 0 !important;
}

.rate{

font-size: 50px;
}

.card-right{

    float: right;
    display: inline-block;
    color: white;
    padding-right: 25px;

}

.cols{
  padding: 0 15px 0 0 ;
}

.charttext{
  float: right;
  padding-right: 10px;
}
button.btn.bg-lignt.dropdown-toggle{
  border-radius: 0px;
  padding: 0 0 0 0;
  height: 26px;
  width: 74px;
color: #637783;
font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
font-size: 9px;
letter-spacing: 0;
line-height: 16px;
border: 0.5px solid rgb(99 119 131 / 36%);
    border-radius: 5px;
}
.popup{
  margin-top: 29px;
  color: #062133;
  font-family: Roboto-Medium;
  font-size: 14.4px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  margin-bottom: 33px;
}
.popupname{
  padding: 40px;
            border-radius: 3px;
            background-color: #FFFFFF;

            box-shadow: 0 2px 5px 0 rgba(6,33,51,0.26);

            color: #637783;
   font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
    font-size: 12px;
    letter-spacing: 0.15px;
    margin: 0;
}
.dname{
  display: inline;padding-left: 32px;
}
.dvalue{
  float: inline-end !important;padding-right: 32px;
}

.card-one{

  background: linear-gradient(135deg, #F14D67 0%, #EB243F 100%) !important;
  min-height: 216px !important;
  min-width: 250px !important;
  border-radius: 5px !important;
  box-shadow: 0 4px 5px 0 rgba(101,132,160,0.44);
  padding-top: 50px;


}
.card-two{

  min-height: 216px;
  min-width: 250px;
  border-radius: 5px;
  background: linear-gradient(135deg, #00B4FF 0%, #008FCB 100%);

  box-shadow: 0 4px 5px 0 rgba(101,132,160,0.44);
  padding-top: 50px;
}

.card-three{

  max-height: 225px !important;
min-width: 359px !important;
border-radius: 5px !important;
background-color: #FFFFFF !important;
box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22) !important;
border: 25px solid white;

border-bottom-width: 0px;
border-top-width: 20px;


}

.card-five{

min-width: 359px !important;
border-radius: 5px !important;
background-color: #FFFFFF !important;
box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22) !important;
border: 25px solid white;
}

.card-six{

min-width: 358px !important;
border-radius: 5px !important;
background-color: #FFFFFF !important;
box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22) !important;
border: 25px solid white;
 }


.wrapper{

  width: 100%;
  height: 100%;

}

.img{
  height: 90px;
  width: 91px;
  margin-left: 45px;
}

.img1{
  height: 90px;
  width: 91px;
}


.icons{
  height: 17px;
  width: 17px;

}

.datecard{

  min-width: 500px !important;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22);

}

.list-item.ant-list-item.ng-star-inserted:hover {
  letter-spacing: 0.2px;
  height: 64px;
  width: 325px;
  opacity: 0.88;
  border-radius: 5px;
  background: linear-gradient(135deg, #00B4FF 0%, #008FCB 100%);
  box-shadow: 0 4px 6px 0 rgba(70,116,158,0.48);
color: white !important;


}

.list-item{
  box-sizing: border-box;
  height: 64px;
  width: 325px;
  border: 1px solid #0067FF;
  color: white !important;
  letter-spacing: 0.2px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22);
margin-bottom: 10px !important;
font-family: roboto-regular !important;
font-size:16px !important
}
.fc td, .fc th {
  border-style: none !important;
}

.fc-right > button{
  border: none;
}

.ant-list-split .ant-list-item {
  box-sizing: border-box;
  height: 64px;
  width: 325px;
  border: 1px solid  #0067ff38;
  color: #637783 !important;

  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22);
margin-bottom: 10px !important;
font-family: roboto-regular !important;
font-size:16px !important

}


.tooltip{
  border: 1px solid black;
  height: 20px;
  width: 20px;
  color: white;
  background-color: black;
}


.pieChart{
  margin: 0 !important;
  max-height: 202px;
  max-width: 349px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(101,132,160,0.22);
}


.charttitle{
  font-family: Roboto-Medium;
 font-size: 12px;color:#062133;padding:0 0 0 0;
  float: left;
}

.fright{
  float: right;
}

.fc .fc-toolbar-title {
  font-size: 14.4px !important;
  margin: 0 !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  color: #2C3135 !important;
  font-family: roboto-medium !important;
  line-height: 19px !important;
}

.fc-daygrid-day{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background: red;
  // color: white;
  height: 30px;
  width: 30px;
}


.card-txt{
  text-align: center;
  top: 0;
  margin: 0 auto;
  padding: 0 0 0 0;

}

.barchart{
  height: 130px !important;
  width: 274px !important;
}

.selectcard{
  height: 286px;
  width: 325px;
}

h2.fc-toolbar-title {
  font-family: roboto-medium !important;
  size: 14.4px !important;
  line-height: 19px !important;
}



.calender{
  margin-top: 29px;
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row;
    text-align: center !important;
    /* align-items: center; */
    justify-content: center;
    border: none;
}

.ant-tooltip-placement-right .ant-tooltip-arrow::before, .ant-tooltip-placement-rightBottom .ant-tooltip-arrow::before, .ant-tooltip-placement-rightTop .ant-tooltip-arrow::before {
  box-shadow: -3px 3px 7px rgba(0,0,0,.07);
  transform: translateX(6.54px) rotate(45deg);
  background: transparent !important;

}

.fc-col-header-cell-cushion{
  color: #7F8FA4 !important;
  font-family: Roboto-Regular;
  font-size: 10.8px;
  letter-spacing: 0;
  line-height: 9px;
  text-align: center;
  letter-spacing: 1px;

}
.fc .fc-scrollgrid-liquid{
  border: none !important;
}