


<div class="col-lg-12 col-12  mt-2 mr-2 container">
  <div class="row">
    <div class="col-lg-4 col-12 cols">
<div class="card-one">
        <img src="/assets/Group 28.png" class="img">
        <span class="card-right"><span class="rate">$6.70</span>
          <br>
          <p class="card-txt">Due For Collection</p>
        </span>
    </div>
  </div>
    <div class="col-lg-4  col-12 p-0">

<div class="card-two">

        <img src="/assets/Fill 1.png" alt="svg" class="img">
        <span class="card-right"><span class="rate">300</span>
          <br>
          <p class="card-txt">Today Pending</p>
        </span>

    </div>
    </div>
    <div class="col-lg-4 col-12">

      <div class="card-three">
        <p class="charttitle">Revenue Generated</p>
        <span class="fright">
          <button  type="button" class="btn bg-lignt dropdown-toggle" data-toggle="dropdown">
            Last Week
      </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
    </span>
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
[colors]="myColors"
    [chartType]="barChartType">
  </canvas>

    </div>

    </div>

  </div>
</div>


<div class="col-lg-12 col-12 mt-3 container">


  <div class="row">
<div class="col-lg-8 datecard">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 col-12">

        <full-calendar class="calender" [options]="calendarOptions"></full-calendar>

      </div>
      <div class="col-lg-6 col-12 pt-3">
        <p class="popup">17th August 2020</p>
        <div class="selectcard">

          <nz-list>


            <nz-list-item class="list-item" *ngFor="let item of title;" nzTooltipPlacement="right" nz-button nz-tooltip
              [nzTooltipTitle]="titleTemplate">
              <ng-template #titleTemplate> <span class="popupname">{{item.name}}</span> </ng-template>
              <span class="dname">{{item.name}}</span>

              <span class="dvalue">{{item.value}}</span>

            </nz-list-item>
          </nz-list>
        </div>


      </div>
    </div>
  </div>

</div>
<div class="col-lg-4">
<div class="row">
<div class="col-lg-12">
<div class="row">
  <div class="col-lg-12 col-12" >
<div class="card-five">
    <p class="charttitle"> Pending Clothes Distribution</p>
    <span class="fright">
      <button  type="button" class="btn bg-lignt dropdown-toggle" data-toggle="dropdown">
 Today
  </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
</span>
    <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [colors]="doughnutChartColors"
    [options]="options"
    [chartType]="doughnutChartType">
         </canvas>
        </div>
  </div>





  <div class="col-lg-12 col-md-12 col-12 mt-3">

<div class="card-six">
      <p class="charttitle">Pending Processing</p>
      <span class="fright">
        <button  type="button" class="btn bg-lignt dropdown-toggle" data-toggle="dropdown">
   Today
    </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
  </span>
      <canvas baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [colors]="doughnutChartColors"
      [options]="options"
      [chartType]="doughnutChartType">
           </canvas>
          </div>
    </div>
</div>
</div>

</div>

</div>
</div>


  </div>



<div class="pb-3"></div>
